body {
  background-image: url(./Images/wood.jpg);
}
main {
    background-color: white;
    white-space: pre-line;
}
h1 {
  font-size: 40px;
  font-family: 'Fredericka the Great', cursive;
  color: white;
}
div {
  height: 400px;
  width: 500px;
  background-color: #e1ddda;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
#list1 . article {
  margin: 2px;
  height: 50px;
  width: 50px;
  background-color: #e1ddda;
}
ul {
  margin: 2px
}
ol {
  margin: 2px
}
body {
  text-align: center;
}
img {
  float: left
  border: 5px solid black;
  border-radius: 10px;
  padding: 1px;
}
button {
    background-color: black;
    border: solid black;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
